<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EH - Home Page</title>
    <link rel="stylesheet" href="../css/home.css">
</head>

<body>
    <!-- navbar -->
    <header>
        <div class="logo">
            <img class="image1" src="../images/empowerhub-logo.png" alt="logo">
        </div>

        <h1 id="main_heading">Welcome Back, [Username]!</h1>
        <button class="logout explo" id="logout">Logout</button>
    </header>

    <!-- welcome-section -->
    <div class="nav">
        <section class="welcome-section">
            <h2 id="welcome_head">Hello, [Username]!</h2>
            <p>We’re glad to have you back. Here’s what you can explore today:</p>
        </section>

        <section class="content-section">
            <div class="card">
                <h3>My Profile</h3>
                <p>View and update your personal details.</p>
                <a href="/views/userprofile.html">Go to Profile</a>
            </div>
            <div class="card">
                <h3>My Skills</h3>
                <p>Check out the skills you’re learning .</p>
                <a href="/views/view_classes.html">View Skills</a>
            </div>
            <div class="card">
                <h3>Tuitions</h3>
                <p>Check out the skills you are teaching.</p>
                <a href="/views/tutions.html">View your tuitions</a>
            </div>
            <div class="card">
                <h3>Calender</h3>
                <p>Check out your calender of events.</p>
                <a href="/views/calender.html">Visit Calender</a>
            </div>
            <div class="card">
                <h3>Notifications</h3>
                <p>Check out your notifications.</p>
                <a href="/views/notifications.html">Check Notifications</a>
            </div>
            <div class="card">
                <h3>Map</h3>
                <p>Check out the nearby classes on the map.</p>
                <a href="/views/map.html">Visit Map</a>
            </div>
        </section>
    </div>

    <!-- categories section  -->
    <h2 class="head">Categories:</h2>

    <div class="ski">
        <h3>Lifestyle</h3>
        <div class="hidden" hidden>c001</div>
        <div class="sk2">
            <div class="img1" style="background: url('../images/home_img/Life Skills.png') no-repeat center/cover">
            </div>
            <p>Lifestyle skills encompass the abilities that help individuals navigate e
                veryday life effectively, ensuring personal well-being and growth. These skills range from managing time
                efficiently, cooking nutritious meals, and maintaining financial discipline to practicing good hygiene.
            </p>
        </div>
    </div>

    <div class="ski">
        <h3>Business</h3>
        <div class="hidden" hidden>c002</div>
        <div class="sk2">
            <div class="img1" style="background: url('../images/home_img/buisiness.jpg') no-repeat center/cover"></div>

            <p>Business skills revolve around the strategies and knowledge needed to operate or manage a business
                successfully. They include leadership, marketing, financial planning, effective communication, and
                project management, all of w
                hich are crucial.</p>
        </div>
    </div>

    <div class="ski">
        <h3>Technical</h3>
        <div class="hidden" hidden>c004</div>
        <div class="sk2">
            <div class="img1" style="background: url('../images/home_img/technical.jpg') no-repeat center/cover"></div>
            <p>Technical skills are specialized competencies that enable individuals to perform specific tasks in fields
                like programming, data analysis, engineering, or operating machinery. Thes
                e skills often require formal training and are essential in today’s world.</p>
        </div>
    </div>

    <div class="ski">
        <h3>Sports and games</h3>
        <div class="hidden" hidden>c006</div>
        <div class="sk2">
            <div class="img1" style="background: url('../images/home_img/games.jpg') no-repeat center/cover"></div>
            <p>sports involve physical prowess, strategy, and teamwork, fostering fitness, discipline, and camaraderie
                while encouraging a competitive spirit. Together, these skill categories enrich personal and
                professional lives, offering
                avenues for expression, growth, and connection.</p>
        </div>
    </div>

    <div class="ski">
        <h3>Craft and Arts</h3>
        <div class="hidden" hidden>c003</div>
        <div class="sk2">
            <div class="img1" style="background: url('../images/home_img/craft.jpg') no-repeat center/cover"></div>
            <p>Arts and crafts highlight creativity and manual dexterity, allowing individuals to create beautiful and
                functional objects, whether through painting, sculpting, sewing, or woodworking. These skills often
                combine imagination with technical proficiency.</p>
        </div>
    </div>

    <div class="ski">
        <h3>Dance</h3>
        <div class="hidden" hidden>c007</div>
        <div class="sk2">
            <div class="img1" style="background: url('../images/home_img/dance.jpg') no-repeat center/cover"></div>
            <p>Dance is an expressive art form where movement and rhythm come together to convey emotions, tell stories,
                or entertain audiences. It requires physical discipline, coordination, and creativity.</p>
        </div>
    </div>

    <div class="ski">
        <h3>Music</h3>
        <div class="hidden" hidden>c005</div>
        <div class="sk2">
            <div class="img1" style="background: url('../images/home_img/music.jpg') no-repeat center/cover"></div>
            <p>Music skills encompass playing instruments, singing, and composing, requiring a deep understanding of
                rhythm, melody, and harmony.
                They also include technical abilities like music production and performance skills to engage and
                captivate audiences.</p>
        </div>
    </div>

    <div class="ski">
        <h3>Drama</h3>
        <div class="hidden" hidden>c008</div>
        <div class="sk2">
            <div class="img1" style="background: url('../images/home_img/drama.avif') no-repeat center/cover"></div>
            <p>Drama skills involve acting, voice modulation, and emotional expression to bring characters and stories
                to life. They include script analysis, improvisation, and stage presence, requiring creativity and
                collaboration with others. These skills help performers captivate audiences .</p>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 Skill Share. All rights reserved.</p>
        <a href="/terms">Terms of Service</a>
        <a href="/contact">Contact Us</a>
    </footer>
</body>
<script src="../script/home.js"></script>


</html>