<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css linking  -->
    <link rel="stylesheet" href="../css/map.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <!-- leaflet linking  -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <title>EH - Map</title>
</head>

<body>
    <!-- navbar  -->
    <header>
        <div class="logo">

            <img class="image1" src="../images/empowerhub-logo.png" alt="logo">
        </div>
        <h1>Map</h1>

        <button class="homeBtn" onclick="window.location.href='/views/home_page.html'">Home</button>
    </header>

    <div id="map"></div>

    <!-- javascript linking  -->
    <script src="../script/map.js"></script>

</body>

</html>