<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EH - Notifications</title>
    <!-- css linking  -->
    <link rel="stylesheet" href="../css/notifications.css">
</head>

<body>
    <!-- navbar  -->
    <header>
        <div class="logo">
            <img class="image1" src="../images/empowerhub-logo.png" alt="logo">
        </div>
        <h3>Hey <span id="user-name">User</span>, see your notifications</h3>
        <a href="/views/home_page.html">Back home</a>
    </header>

    <div class="main">
        <!-- notification container  -->
        <div id="ma" class="main2">
            <p id="para"></p> <!-- to display no notifications -->

            <!-- <div class="notify">yyou will add</div> -->
        </div>
    </div>

    <!-- javascript linking  -->
    <script src="../script/notifications.js"></script>
</body>

</html>