<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EH - Sign In</title>
    <!-- css linking  -->
    <link rel="stylesheet" href="../css/signin.css">
    <link rel="stylesheet" href="../css/alerts.css">
</head>

<body>
    <!-- alert message popup  -->
    <div id="alert">message</div>
    <!-- navbar  -->
    <header>
        <div class="logo">

            <img class="image1" src="../images/empowerhub-logo.png" alt="logo">
        </div>
        <h1>Sign in Page</h1>

    </header>

    <div class="main">
        <!-- signin form  -->
        <div class="signin-container">
            <h2>Sign in</h2>
            <form action="/login" method="post" id="signinForm">
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit">Sign In</button>
            </form>
            <a href="/forgot-password">Forgot Password?</a>
            <a href="signup.html"> Don't have Account?Create an Account</a>
        </div>
    </div>

</body>
<!-- javascript linking  -->
<script src="../script/signin.js"></script>

</html>