<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EH - Classes</title>
    <!-- css linking  -->
    <link rel="stylesheet" href="../css/category_classes.css">
    <link rel="stylesheet" href="../css/alerts.css">

</head>

<body>
    <!-- alert message popup  -->
    <div id="alert">message</div>

    <!-- navbar  -->
    <header>
        <div class="logo">
            <img class="image1" src="../images/empowerhub-logo.png" alt="logo">
        </div>

        <h3 id="insertName">Hi! name of user</h3>
        <button class="homeBtn" onclick="window.location.href='/views/home_page.html'">Home</button>
    </header>

    <h2 class="h2">You can learn here</h2>
    <div class="inf">
        <p>Learn from your community.</p>
        <p>View the nearby classes in this category.</p>
        <p>Learn, teach, grow – one swap at a time!</p>
    </div>

    <!-- container to display classes  -->
    <div class="toteach">
        <p id="para"></p>
        <!-- <div class="sub">
            <h2>Skill:name1</h2>
            <p>Teacher:${element.teacher}</p>
            <p>Description:${element.description}</p>
            <p>Center:Jayalaxmipura</p>
            <div class="timings">
                <div class="times">
                    <p>Date:12/11/2024</p>
                    <p>timings:7:00 pm-8:00 pm</p>
                    
                    <div class="button-container">
                        <button class="but cancel">Add tution</button>
                        
                    </div>
                </div>
                <div class="times">
                </div>
                <div class="times">
                </div>
                
            </div>
            
          
        </div>
          -->

    </div>

    <!-- display prerequisites -->
    <div id="prere" class="changename1">
        <div class="changename">
            <h2 id="preHead">SEE PREREQUISITES OF SKILL </h2>
            <div class="premain" id="premain">
                <!-- <div class="presec">
                    <p> something 1 </p>
                </div>
                <div class="presec">
                    <p> something 1 </p>
                </div>
                <div class="presec">
                    <p> something 1 </p>
                </div> -->
            </div>
        </div>
    </div>
    
    <button class="bu"><a href="/views/home_page.html">add skill from other category</a></button>

</body>
<!-- javascript linking  -->
<script src="../script/category_classes.js"></script>

</html>