<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EH - Enrolled Classes</title>
    <!-- css linking  -->
    <link rel="stylesheet" href="../css/classes.css">

</head>

<body>
    <!-- navbar  -->
    <header>
        <div class="logo">
            <img class="image1" src="../images/empowerhub-logo.png" alt="logo">
        </div>

        <h3 id="user_name">name of user</h3>
        <button class="homeBtn" onclick="window.location.href='/views/home_page.html'">Home</button>
    </header>

    <h1 id="h1">Classes in which you are enrolled</h1>
    <!-- container to view enrolled classes  -->
    <div class="tolearn" id="tolearn">

        <!-- <div class="sub">
            <h2>Skill name</h2>
            <p>Teacher:Leesha</p>
            <p>Phone No.:1234567890</p>
            <p>Timings:2:00 PM-3:00 PM</p>
            <p>Date:1-1-2001</p>
            <p>Center:Jayalaxmipura</p>
            <button class="cancel">Cancel Skill</button>
            <button class="butu">prequisites</button>
        </div> -->
    </div>
    <button class="butt"><a href="/views/home_page.html">add Skill</a></button>

    <!-- display prerequisites -->
    <div id="prere" class="changename1">
        <div class="changename">
            <h2 id="preHead">SEE PREREQUISITES OF SKILL </h2>
            <div class="premain" id="premain">
                <!-- <div class="presec">
                    <p> something 1 </p>
                    <button class="butu2">delete</button>
                </div>
                <div class="presec">
                    <p> something 1 </p>
                    <button class="butu2">delete</button>
                </div>
                <div class="presec">
                    <p> something 1 </p>
                    <button class="butu2">delete</button>
                </div> -->
            </div>
        </div>
    </div>

</body>
<!-- javascript linking  -->
<script src="../script/classes.js"></script>

</html>