<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EH - Students</title>
    <!-- css linking  -->
    <link rel="stylesheet" href="../css/student.css">
</head>

<body>
    <!-- navbar  -->
    <header>
        <div class="logo">
            <img class="image1" src="../images/empowerhub-logo.png" alt="logo">
        </div>
        <h2 id="insertName">name of user</h2>
        <div>
            <button class="homeBtn" onclick="window.location.href='/views/tutions.html'">Back</button>
            <button class="homeBtn" onclick="window.location.href='/views/home_page.html'">Home</button>
        </div>

    </header>

    <h1 id="h1">See your students</h1>
    <!-- container to display students of particular class  -->
    <div class="tolearn">
        <p id="list"></p>
        <!-- <div class="sub">
            <h2>Student name</h2>
            <p>Address:Jayalaxmipura</p>
        </div>
        <div class="sub">
            <h2>Student name</h2>
            <p>Address:Jayalaxmipura</p>
        </div> -->
    </div>
</body>
<!-- javascript linking  -->
<script src="../script/student.js"></script>

</html>