body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    background-color: rgb(178, 231, 213, 0.2);
}

/* navbar styling  */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
    background-color: rgb(235, 177, 186);
    background-color: #f3f399;
    color: rgba(13, 32, 7, 0.9);
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1;
}

header button {
    background-color: #fff;
    color: #4CAF50;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    font-weight: bold;
}

header button:hover {
    background-color: #45a049;
    color: white;
}

.image1 {
    height: 60px;
    margin-top: 10px;
}

header h3 {
    position: relative;
    right: 100px;
}

header h1 {
    position: relative;
    right: 75px;
}

/* intro styling */
.h2 {
    height: 50px;
    width: 100%;
    padding: 5px;
    border-radius: 12px;
    background-color: rgb(177, 124, 142);
    background-color: #f1d8c7;
    text-align: center;
}

.inf {
    height: 150px;
    width: 100%;
    background-color: #B8E0D2;
    color: #222121;
    padding-left: 20px;
    padding-top: 10px;
    border-radius: 15px;
    margin-top: 10px;
}

.inf p {
    font-size: 20px;
}

.toteach {
    height: max-content;
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: rgb(180, 179, 178);

}

.bu {

    padding: 5px;
    background-color: green;
    color: white;
    height: 70px;
    width: 120px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    margin: 10px auto;
    left: 630px
}

a {
    color: white;
    text-decoration: none;
    font-size: larger;
}

.sub {
    width: 50%;
    height: auto;
    background-color: #f1d8c7;
    background-color: rgba(29, 94, 146, 0.9);
    text-align: center;
    padding: 10px;
    padding-top: 0px;
    border: 1px black solid;
    border-radius: 12px;
    /* position: relative;
    left: 200px; */
    margin: 20px auto;
    color: white;

}

.but {
    height: 40px;
    width: 75px;
    border-radius: 12px;
    background-color: green;
    color: white;
}

.info {
    text-align: left;
}

.inf p {
    margin: 3px;
    padding: 3px;

}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.timings {
    margin: 2px auto;
    padding-top: 10px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 10px;
    border-radius: 8px;
    width: 95%;
    height: max-content;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.times {
    height: 110px;
    width: 170px;
    padding: 2px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: khaki;
    color: black;
    font-size: 13px;
}

.times p {
    padding: 1px;
    margin: 2px;
}

/* display prerequisites styling  */
.changename1 {

    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;


}

.changename {
    position: relative;
    top: 50px;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(103, 103, 192);
    background-color: rgb(243, 215, 181);
    width: 30%;
    height: 70%;
}

.changename h2 {
    text-align: center;
    margin-bottom: 50px;

}

.changename input {
    padding: 5px;
    height: 25px;
    width: 90%;
}

.changename button {
    margin: 20px auto;
    padding: 5px;
    height: 40px;
    width: 90px;
    text-align: center;
    border-radius: 10px;
    color: aliceblue;
    background-color: rgb(23, 150, 23);
    position: relative;
    left: 150px;
}

.changename p {
    font-size: 20px;
}

.butu{
    height: 40px;
    width:100px;
    border-radius: 12px;
    background-color: rgb(87, 13, 37);
    color: white;   
}

.presec {
    display: flex;
    background-color: rgb(161, 247, 247);
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 5px;
    margin: 5px 8px;   
    min-width: max-content;
}

.premain button {
    background-color: rgb(87, 13, 37);
    height: 20px;
    width: 65px;
    border-radius: 8px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position:inherit;
}

.premain {
    min-height: 60%;
    max-height: max-content;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(177, 95, 95);
}