body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    background-color: rgb(178, 231, 213, 0.2);
}

.image1 {
    height: 60px;
    margin-top: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(235, 177, 186);
    background-color: #f3f399;
    ;
    color: rgba(29, 94, 146, 0.9);
    color: rgb(16, 70, 16);
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1;
}

header button{
    background-color: #fff;
    color: #4CAF50;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    font-weight: bold;
}

header button:hover{
    background-color: #45a049;
    color: white;
}

.tolearn {
    height: max-content;
    width: 100%;
    padding: 30px;
    margin-top: 20px;
    background-color: rgb(180, 179, 178);

}

button {
    margin-top: 10px;
    padding: 5px;
    background-color: green;
    color: white;
    height: 50px;
    width: 100px;
    border-radius: 10px;
}

a {
    color: white;
    text-decoration: none;
    font-size: larger;
}

.sub {
    width: 60%;
    min-height: 230px;
    background-color: #e7d84f;
    background-color: rgba(29, 94, 146, 0.9);
    text-align: center;
    color: white;
    padding: 10px;
    padding-top: 0px;
    border: 1px black solid;
    border-radius: 12px;
    position: relative;
    left: 200px;
    margin-top: 10px;

}

#h1 {
    height: 50px;
    width: 90%;
    margin: 15px auto;
    padding: 5px;
    background-color: rgb(241, 221, 232);
    border-radius: 7px;
    text-align: center;
}

header h3 {
    position: relative;
    right: 100px;
}

header h1 {
    text-align: center;
}

.butt {
    margin: 20px;
}

/* display prerequisites styling  */
.changename1 {

    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;


}

.changename {
    position: relative;
    top: 50px;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(103, 103, 192);
    background-color: rgb(243, 215, 181);
    width: 30%;
    height: 70%;
}

.changename h2 {
    text-align: center;
    margin-bottom: 50px;

}

.changename input {
    padding: 5px;
    height: 25px;
    width: 90%;
}

.changename button {
    margin: 20px auto;
    padding: 5px;
    height: 40px;
    width: 90px;
    text-align: center;
    border-radius: 10px;
    color: aliceblue;
    background-color: rgb(23, 150, 23);
    position: relative;
    left: 150px;
}

.changename p {
    font-size: 20px;
}

.butu{
    height: 40px;
    width:75px;
    border-radius: 12px;
    background-color: rgb(87, 13, 37);
    color: white;   
}

.presec {
    display: flex;
    background-color: rgb(161, 247, 247);
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 5px;
    margin: 5px 8px;   
    min-width: max-content;
}

.premain button {
    background-color: rgb(87, 13, 37);
    height: 20px;
    width: 65px;
    border-radius: 8px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position:inherit;
}

.premain {
    min-height: 60%;
    max-height: max-content;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(177, 95, 95);
}

.butu{
    width:max-content;
    margin:4px;
}