body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    background-color: rgb(189, 194, 193);
    overflow: auto;
    height: 100%;
}

.image1 {
    height: 60px;
    margin-top: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3f399;
    color: rgba(13, 32, 7, 0.9);
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 10;
    margin-bottom: 10px;
}

header h1 {
    position: relative;
    right: 50px;
}

header button{
    background-color: #fff;
    color: #4CAF50;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    font-weight: bold;
}

header button:hover{
    background-color: #45a049;
    color: white;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main2 {
    background-color: rgb(103, 103, 192);
    padding: 50px;
    margin-top: 50px;
    border-radius: 10px;
}

.main p {
    font-size: 25px;
    color: rgb(216, 216, 204);
    font-weight: 500;
    font-weight: bolder;
}

.show1 {
    display: none;
    position: fixed;
    top: 128px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    justify-content: right;
    align-items: center;
    z-index: 1000;
}

.show {
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(103, 103, 192);
    width: 20%;
    height: 98%;
}

.change {
    height: 50px;
    width: 250px;
    text-align: left;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.changename1 {

    /* display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    height: max-content;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000; */

    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    overflow-y: auto; /* Enables vertical scrolling */
    z-index: 1000;


}

.changename {
    /* position: relative; */
    /* top: 50px; */
    /* margin-top:50px;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(243, 215, 181);
    width: 30%;
    min-height: 60%;
    height: max-content; */

    margin: 50px auto; /* Center horizontally */
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(243, 215, 181);
    width: 90%; /* Responsive width */
    max-width: 500px; /* Limit maximum width */
    min-height: 60%;
    /* overflow: hidden; Prevent content overflow */
}

.changename h2 {
    text-align: center;
    margin-bottom: 50px;

}

.changename input {
    padding: 5px;
    height: 25px;
    width: 90%;
}

.changename button {
    margin: 20px auto;
    padding: 5px;
    height: 40px;
    width: 90px;
    text-align: center;
    border-radius: 10px;
    color: aliceblue;
    background-color: rgb(23, 150, 23);
}

.changename p {
    font-size: 20px;
}

.add_form {
    display: flex;
    flex-direction: column;
}

#Message {
    display: none;
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    padding: 8px 10px;
    z-index: 11;
}

.success {
    color: green;
    background-color: rgb(194, 248, 174);
    border: 1px solid rgb(133, 185, 91);
}

.error{
    color: red;
    background-color: rgb(248, 174, 174);
    border: 1px solid rgb(185, 91, 91);
}

/* map styling  */
#map {
    margin:auto;
    height: 200px;
    width:400px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    /* margin-bottom: 20px; */
}