body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    background-color: rgb(178, 231, 213, 0.2);

}

.image1 {
    height: 60px;
    margin-top: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(235, 177, 186);
    background-color: #f3f399;
    color: rgba(29, 94, 146, 0.9);
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1;
}

header button{
    background-color: #fff;
    color: #4CAF50;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    font-weight: bold;
}

header button:hover{
    background-color: #45a049;
    color: white;
}

header h2 {
    position: relative;
    right: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-size: larger;
}

.sub {
    width: 50%;
    height: 100px;
    background-color: #e7d84f;
    background-color: rgba(29, 94, 146, 0.9);
    text-align: center;
    padding: 10px;
    padding-top: 0px;
    border: 1px black solid;
    border-radius: 12px;
    margin: 10px auto;
    color: white;
}

.tolearn {
    height: max-content;
    width: 100%;
    padding: 30px;
    margin-top: 20px;
    background-color: rgb(180, 179, 178);

}

#h1 {
    height: 50px;
    width: 90%;
    margin: 15px auto;
    padding: 5px;
    background-color: rgb(241, 221, 232);
    border-radius: 7px;
    text-align: center;
}

.sub p {
    padding: 2px;
    margin: 5px;
}

.sub h2 {
    margin-bottom: 5px;
}